build
coverage
docker-compose*
Dockerfile*
.dockerignore
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.git
.gitignore
LICENSE
node_modules
npm-debug.log
.pnp
.pnp.js
README.md
_redirects
rekit.json
tmp
.vscode
